.preloader {
    &__wrap {
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: $color_light_primary;;
        z-index: 100;

        display: flex;
        align-items: center;
        justify-content: center;

        opacity: 1;
        transition: 0.3s;

        &.hide {
            opacity: 0;
        }
    }

    position: relative;
    
    display: block;
    width: 10em;
    height: 10em;
    border-radius: 50%;
    border: 0.188em solid transparent;
    border-top-color: rgba($main_color, 0.75);
    animation: preloader-5-spin 2s linear infinite;

    font-size: 0.375em;
    @media (min-width: 768px) {
        font-size: 0.675em;
    }

    &:before {
        content: "";
        position: absolute;
        top: 0.375em;
        left: 0.375em;;
        right: 0.375em;;
        bottom: 0.375em;;
        border-radius: 50%;
        border: 0.188em solid transparent;
        border-top-color: rgba($main_color, 0.5);
        animation: preloader-5-spin 3s linear infinite;
    }

    &:after {
        content: "";
        position: absolute;
        top: 1em;
        left: 1em;
        right: 1em;
        bottom: 1em;
        border-radius: 50%;
        border: 0.188em solid transparent;
        border-top-color: rgba($main_color, 1);
        animation: preloader-5-spin 1.5s linear infinite;
    }

   

}

@keyframes preloader-5-spin {
    0%   {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
